<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css">

<header class="header">
  <button class="menu">
    <i class="fa fa-cog" aria-hidden="true"></i>
  </button>
</header>

<ul class="themeMenu" [class.active]="showMenu">
  <li>Default 😐</li>
  <li>Dark 😈</li>
  <li>IDK 🤡</li>
</ul>

<div class="body">
  <!-- ComboBox -->
  <div #grid class="gridBlock">
    <p>Customer</p>
    <div class="dropdown" (click)="toggleMenu()" [class.active]="showMenu">
      <input type="text" class="textBox" placeholder=" Dropdown Menu" readonly>
      <div class="option">
        <div><i class="fa fa-user" aria-hidden="true"></i> Customer 1</div>
        <div><i class="fa fa-user" aria-hidden="true"></i> Customer 2</div>
        <div><i class="fa fa-user" aria-hidden="true"></i> Customer 3</div>
      </div>
    </div>
    <div>
    </div>
  </div>

  <!-- Checked-->
  <div class="gridBlock">
    <label><input type="checkbox"> Checkbox</label>
    <label>CheckLeft: <input type="checkbox"></label>
  </div>

  <!-- DatePicker -->
  <div class="gridBlock">
    <label>Select a date: <input type="date" id="birthday" value="2013-oct-08" name="birthday"></label>
  </div>

  <!-- Radio button-->

  <div class="gridBlock">
    <form class="radio">
      <input type="radio" id="item1" value="item1"> <label for="item1">Item 1</label> <br>
      <input type="radio" id="item2" value="item2"> <label for="item2">Item 2 </label><br>
      <input type="radio" id="item3" value="itme 3"> <label for="item3"> Item 3</label> <br>
    </form>
  </div>

  <!-- Text MultiLine -->
  <div class="gridBlock">
    <p>Type text</p>
    <textarea class="text" cols="30" rows="10"></textarea>
  </div>

  <!--Text Area-->
  <div class="gridBlock">
    <p>Insert number:</p>
    <input type="number">
  </div>

  <!--Buttons-->
  <div class="gridBlock">
    <div class="buttonContainer">
      <button class="icoDesc">
        <i class="fa fa-home"></i>
      </button>
      <span>Home</span>
    </div>
    <!--Square Buttons-->

    <button class="squareButton">
      Home
    </button>

    <button class="squareShadowButton">
      Home
    </button>
  </div>

  <div class="gridBlock">
    <!--Other Buttons-->
    <button class="sqrRoundButton">
      Home
    </button>
    <button class="borderSquareButton">
      Home
    </button>
    <button class="borderRoundedButton">
      Home
    </button>
  </div>

  <div class="gridBlock">
    <button class="gradientButton">
      Home
    </button>
    <button class="gradientIconButton">
      <i class="fa fa-home"></i>
      Home
    </button>
  </div>
  <!-- Rounded buttons-->
  <div class="splitgridBlock">
    <button class="darkGradientButton">
      <i class="fa fa-home"></i>
      Home
    </button>

    <button class="solidDarkButton">
      <i class="fa fa-home"></i>
      Home
    </button>

    <button class="GradientLightButton">
      <i class="fa fa-home"></i>
      Home
    </button>

    <button class="solidLightButton">
      <i class="fa fa-home"></i>
      Home
    </button>
  </div>
  <!--Square buttons-->
  <div class="splitgridBlock">
    <!-- <button class="sqrGradientLight" [ngStyle]="{'background': styleExp }"> -->
    <button class="sqrGradientLight">
      <i class="fa fa-home"></i>
      Home
    </button>

    <button class="sqrSolidLight">
      <i class="fa fa-home"></i>
      Home
    </button>

    <button class="sqrGradientDark">
      <i class="fa fa-home"></i>
      Home
    </button>

    <button class="sqrSolidDark">
      <i class="fa fa-home"></i>
      Home
    </button>
  </div>

  <!--Circle buttons-->

  <div class="splitgridBlock">
    <div class="circleGradientDark">
      <i class="fa fa-home"></i>
    </div>
    <div class="circleSolidDark">
      <i class="fa fa-home"></i>
    </div>
    <div class="circleGradientLight">
      <i class="fa fa-home"></i>
    </div>
    <div class="circleSolidLight">
      <i class="fa fa-home"></i>
    </div>
  </div>
  <!--Icon buttons-->
  <div class="gridBlock">
    <button class="iconButton">
      <i class="fad fa-times-circle"
        style="--fa-primary-color: #190047; --fa-primary-opacity: 0; --fa-secondary-color: #ffffff; --fa-secondary-opacity: 1;  transform: rotate(45deg);"></i>
      <span>New</span>
    </button>
    <button class="iconButton">
      <i class="fas fa-edit"></i>
      <span>Edit</span>
    </button>
    <button class="iconButton">
      <i class="fas fa-save"></i>
      <span>Save</span>
    </button>
    <button class="iconButton">
      <i class="fas fa-trash-alt"></i>
      <span>Delete</span>
    </button>
    <button class="iconButton">
      <i class="fas fa-sync-alt"></i>
      <span>Refresh</span>
    </button>
    <button class="iconButton">
      <i class="fas fa-file-excel"></i>
      <span>Excel</span>
    </button>
    <button class="iconButton">
      <i class="fas fa-print"></i>
      <span>Print</span>
    </button>
    <button class="iconButton">
      <i class="fas fa-ban"></i>
      <span>Stop</span>
    </button>
  </div>